.textError {
  border-bottom: 1px solid #F00 !important;
}

.textError:focus {
  outline: #F00;
}

.textInput {
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid #CCC !important;
  border: none;
  padding-bottom: 5px;
}

.errorDescription {
  color: #F00;
  padding: 5px 0px;
}
.marginTop20 {
  margin-top : 20px;
} 

.marginBottom20 {
  margin-bottom: 20px;
}